# Rust
/target/

# NextJS
/ui/.next
/ui/node_modules

# Local Dev
/data/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Environment variables
.env
.env.docker
.env.playground
/ui/.env

# Claude
/.claude
/ui/.claude
